
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFC300;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  padding: 10px;
  overflow-y: hidden;
}
.display {
  text-align: center;
  display: table;
  height:100%;
  margin:0 auto;
}
.wrap {
  display: table-cell;
  vertical-align: middle;
  width: 60vw;
}
.footer {
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  left: 2.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  .wrap {
    width: 80vw;
  }
}
